*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D0B0C;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    color:white;
}

button{
    cursor: pointer;
}

.text_left{
    text-align: left;
}

.text_right{
    text-align: right;
}

.section{
    width: 80%;
    margin: 100px auto;
}

.section h2{
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.gradient_btn{
    width: 193px;
    height: 66px;
    background: linear-gradient(85.63deg, #F827DE -9.39%, #2B14F9 114.93%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding: 15px 4px;
    margin-right: 30px;
}

.list h2{
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 1px;
    color: #FFFFFF; 
    margin-bottom: 74px;
}

.list ul div{
    display: flex;
    align-items: center;
}

.list li{
    list-style: none;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 20px 0;
    text-align: start;
}

.list span{
    width: 48px;
    height: 48px;   
    background: linear-gradient(127.41deg, rgba(218, 37, 226, 0.2) 14.83%, rgba(87, 24, 243, 0.2) 110.24%, rgba(255, 245, 238, 0.2) 110.24%);
    backdrop-filter: blur(4px);
    border-radius: 14px;
    text-align: center;
    line-height: 48px;
    margin-right: 30px;
    display: inline-block;
}

/* header  */

header{
    display: flex;
}

.header_left{
    width: 50%;
    padding-left: 7%;
    padding-top: 73px;
    position: relative;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 161px;
}

.header_nav img{
    margin-left: 38px;
}

.header_nav ul{
    padding: 0 10px;
}

.header_nav ul li{
    display: inline;
    margin-left: 34px;
}

.header_nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    padding: 5px;
    transition: 0.5s;
}

.header_nav ul li a.active, .header_nav ul li a:hover{
    color:#CC23E4;
    border-bottom: 3px solid#CC23E4;
}

.header_menu i{
    width: 66px;
    height: 66px;
    text-align: center;
    font-size: 38px;
    display: none;
}


.header_content{
    width: 90%;
}

.header_content h2{
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    margin-bottom: 55px;
}

.header_content h2 span{
    position: relative;
}
.header_content h2 span::after{
    content: '';
    width: 240px;
    height: 40px;
    position: absolute;
    top: 30px;
    z-index: -1;
    left: -10px;
    display: block;
    background: linear-gradient(-85.63deg, #F827DE -9.39%, #2B14F9 114.93%);
}

.header_content p{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.016em;
    margin-bottom: 76px;
}

.header_content button:first-of-type{
    margin-right: 30px;
}

.header_content button:last-of-type{    
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #F8F8F8;
    width: 193px;
    height: 66px;
    background-color: transparent;
    border: 2px solid;
    /* border-image-slice: 1;
    border-width: 1px; */
    /* border-image-source: linear-gradient(96.63deg, #D824E2 -5.74%, #5317F4 109.22%); */
    border-radius: 8px;
    padding: 15px 4px;
}

.header_left_overlay{
    position: absolute;
    z-index: -2;
    width: 655.78px;
    height: 511.77px;
    left: 52px;
    top: 21.86px;
    background: rgba(202, 34, 227, 0.5);
    filter: blur(450px);
    transform: rotate(-0.25deg);
}

.header_right{
    width: 50%;
    position: relative;
}

.header_right img{
    width: 100%;
}

.header_right button{
    border: 2px solid #FFFFFF;
    background-color: transparent;
    border-radius: 8px;
    padding: 15px 4px;
    width: 251px;
    height: 66px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    position: absolute;
    right: 161px;
    top: 52px;
    cursor: pointer;
}

/* nft_price  */


.nft_price{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 0;
}

.nft_price .item2{
    grid-column: 1/2;
    grid-row: 1/3;
}

.nft_price .item5{
    grid-column: 2/3;
    grid-row: 3/5;
}

.nft_price_item img{
    border-radius: 40px;
}

/* acre */

.acre{
    text-align: center;
}

.acre_content{
    padding: 56px 0;
    display: flex;
    justify-content: center;
}

.acre_content img{
    border-radius: 40px;
    padding-top: 0px;
    padding-bottom: 100px;
    margin: 0 27px;
    max-width: 100%;
}

.acre_content img:nth-child(2){
    padding-top: 100px;
    padding-bottom: 0px;
}

/* 400nfts */



.nfts400_text{
    width: 60%;
    margin: 0 auto;
}

.nfts400 {
    text-align: center;
}

/* acre2 */

.acre2_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acre2_content img{
    border-radius: 40px;
}

.acre2_text{
    width: 50%;
}

.acre2_text button{
    margin-top: 50px;
}

/* roadmap */

.roadmap h2{
    text-align: center;
    margin-bottom: 70px;
}

.roadmap_content{
    display: flex;
    flex-wrap: wrap;
}

.roadmap_item{
    width: 50%;
    display: flex;
    justify-content: center;
}

.roadmap_item_text{
    background: linear-gradient(127.41deg, rgba(218, 37, 226, 0.2) 14.83%, rgba(87, 24, 243, 0.2) 110.24%, rgba(255, 245, 238, 0.2) 110.24%);
    backdrop-filter: blur(4px);
    border-radius: 14px;
    width: 90%;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap_item_text ul{
    width: 70%;
}

.roadmap_item.mt{
    margin-top: 70px;
}

.roadmap_item.mb{
    margin-bottom: 70px;
}

/* game */

.game h2{
    text-align: center;
    margin-bottom: 70px;
}

.game_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game_content img{
    border-radius: 40px;
}

.game_text{
    width: 50%;
}

.game_text h2{
    text-align: start;
}

/* footer */

footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url(/images/Group\ 760.jpg);
    background-blend-mode: overlay, normal;
    background-size: cover;
}

.footer_content{
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_content img{
    margin-left: 38px;
}

.footer_content ul{
    padding: 0 10px;
}

.footer_content ul li{
    display: inline;
    margin-left: 34px;
}

.footer_content ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    padding: 5px;
    transition: 0.5s;
}

.footer_content ul li a.active, .footer_content ul li a:hover{
    color:#CC23E4;
    border-bottom: 3px solid#CC23E4;
}

.footer_social .footer_social_item{
    width: 52px;
    height: 52px;
    text-align: center;
    background: linear-gradient(135.83deg, rgba(216, 227, 255, 0.2) 11.5%, rgba(255, 245, 238, 0.102) 83.39%, rgba(221, 231, 255, 0) 83.39%);
    backdrop-filter: blur(4px);
    border-radius: 14px;
    display: inline-block;
    line-height: 80px;
}

.footer_social .footer_social_item i{
    font-size: 40px;
    background: linear-gradient(45deg, #A98D58 16.77%, #B7995F 21.72%, #DDB771 30.2%, #FACF7F 36.57%, #FCE88C 50%, #FDFA96 59.19%, #F6E18E 67.68%, #E6A37B 85.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


@media screen and (max-width:1450px) {
    .header_nav ul li{
        margin-left: 7px;
    }
    .header_content h2{
        font-size: 68px;
    }
}

@media screen and (max-width:1200px) {
    header{
        flex-wrap: wrap;
    }
    .header_nav{
        margin-bottom:40px;
    }

    .header_menu i{
        display: block;
    }

    .header_nav ul{
        display: none;
    }
    .header_right button{
        display: none;
    }
    .header_left{
        width: 100%;
        padding-left:0;
    }
    .header_right{
        width: 100%;
    }
    .header_content{
        width: 71%;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .header_right {
        height: 70%;
    }

    .header_right img{
        max-height: 1400px;
        object-fit: cover;
    }
}

@media screen and (max-width:768px) {
    .header_content{
        width: 90%;
    }
}